.imgAndHoverElemContainer {
    position: relative;
}


.skiImg {
    height: 10vh;
    width: 10vw;
    object-fit: contain;
    border: 1px solid var(--background-color);
    z-index: -1;
    cursor: pointer;
}

.changeImgButton {
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: 0;
    left: 0;
    margin: auto;
}

.deleteButton {
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: 0;
    right: 0;
    margin: auto;
}

.skiImgFullscreen {
    display: flex;
    flex-flow: column;
    height: 90vh;
    width: 95vw;
    background-color: rgba(0, 0, 0, 0.8);
    top: 5vh;
    left: 3rem;
    position: fixed;
}

[hidden] {
    display: none !important;
}

.skiImgFullscreen button {
    position: absolute;
    width: 4rem;
    height: 4rem;
    border-radius: 5vh;
    color: var(--red-button-text);
    background-color: var(--peltonen-red);
    border: 1px solid var(--peltonen-red);
    right: 0;
    margin: 3vh;
}

.skiImgFullscreen img {
    align-self: center;
    justify-self: center;
    width: fit-content;
    height: fit-content;
    max-width: 75%;
    max-height: 75%;
    padding-top: 5%;
}