.wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 95vh;
}

.landingContainer {
    overflow: auto;
    margin: 2vh 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 5vh;
    background-color: white;
}

.paragraph {
    display: flex;
    width: 100%;
    margin: 4vh 0;
    align-items: center;
}

.textContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    color: black;
}

.imageContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divider {
    width: 60%;
    border-bottom: 1px solid black;
}

img {
    max-width: 80%;
}
.navButtonsContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.navButton{
    height: 4vh;
    background-color: var(--peltonen-red);
    color: var(--red-button-text);
    border: 1px solid var(--peltonen-red);
    border-radius: 5vh;
    margin: 0 0 5vh;
}

.navButton:hover{
    cursor: pointer;
    color: var(--peltonen-red);
    background-color: white;
}

@media screen and (max-width: 1230px){
    .paragraph {
        flex-flow: column nowrap;
    }
    .navButtonsContainer{
        flex-flow: column;
    }
}