.wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 95vh;
}

.landingContainer {
    margin: 2vh 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 5vh;
    background-color: white;
    overflow-y: scroll;
}

.landingContainer::-webkit-scrollbar {
    -webkit-appearance: none;
}

.landingContainer::-webkit-scrollbar:vertical {
    width: 12px;
}

.landingContainer::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}

.paragraph {
    display: flex;
    width: 100%;
    margin: 4vh 0;
    align-items: center;
}

.textContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    color: black;
}

.plainText {
    width: 70%;
    font-size: 1.1rem;
    text-align: start;
    text-indent: 2rem;
    line-height: 1.5;
}

.plainText:not(:last-of-type) {
    margin-bottom: 0.8rem;
}

.imageContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divider {
    width: 60%;
    border-bottom: 1px solid black;
}

.imageContainer img {
    max-width: 80%;
    min-height: 5rem;
    object-fit: contain;
}

.navButtonsContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.navButton {
    height: 4rem;
    width: 10rem;
    background-color: var(--peltonen-red);
    color: var(--red-button-text);
    border: 1px solid var(--peltonen-red);
    border-radius: 5vh;
    margin: 0 0 5vh;

    box-shadow: 0 0.3rem rgb(200, 10, 40);
}

.navButton:hover {
    cursor: pointer;
    color: var(--peltonen-red);
    background-color: white;
}

@media screen and (max-width: 1024px) {
    .paragraph {
        flex-flow: column nowrap;
    }

    .navButtonsContainer {
        flex-flow: column;
    }

    .plainText {
        width: 90%;
    }

    .landingContainer {
        margin: 2vw 3vw;
    }
}