.manageWeightsUi {
    position: fixed;
    margin: -25% -55% 0 0;
    padding: 5vh 0;
    width: 25%;
    background-color: white;
    border: 1px solid black;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.weightsWrapper {
    display: flex;
    flex-flow: column;
    width: fit-content;
}

.weightComponent {
    align-self: center;
    width: fit-content;
}

.weightInputWrapper {
    position: fixed;
    inset: 0;
    margin: auto;
    z-index: -1;
}

.weightInput {
    z-index: 2;
}

.closeButton {
    position: absolute;
    top: 1vh;
    right: 1vh;
    height: fit-content;
    width: 2rem;
    border-radius: 2rem;
    border: 1px solid var(--peltonen-red);
    background-color: var(--peltonen-red);
    color: var(--red-button-text);
}

.closeButton:hover {
    color: var(--white-button-text);
}