.wrapper {
    width: 100%;
    height: 95%;
    top: 5vh;
}

.classicModelContainer {
    color: black;
    background-color: white;
    display: flex;
    flex-direction: row;
    width: 80%;
    padding: 1.5% 2%;
    margin: 1.5% 10%;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    border-radius: 3vh;

    gap: 0.5rem;
}

.classicModelContainer p {
    max-width: 85%;
}


.sizesTableContainer {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    height: fit-content;
}

.sizesTableContainer p {
    width: 66%;
}

.sizesTable {
    display: flex;
    flex-flow: column wrap;
    color: var(--white-button-text);
    background-color: white;
    border: 1px solid black;
    border-radius: 2vh;
    padding: 1vh 1vh 0;

    margin: 2% 0;

    min-width: 40%;
    width: fit-content;
    max-width: 100%;
}

.sizesTable h2 {
    margin: 0 0 0.3rem;
}

.swiperContainer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.swiper {
    width: 25rem;
    height: 65vh;
}

.swiperSlide {
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    background: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}

.swiperSlide img {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.plainText {
    width: fit-content;
    margin-bottom: 0;
}

.sizesTableContainer h1 {
    margin-top: 0;
}

@media screen and (max-width: 1023px) {
    .classicModelContainer {
        flex-flow: column wrap;
    }

    .swiper{
        width: 18rem;
    }

    .sizesTableContainer {
        width: 100%;
        align-self: center;
        justify-self: center;
        flex-flow: column nowrap;
    }

    .sizesTable {
        align-self: center;
        width: fit-content;
        max-width: 100%;
    }
}