.wrapper {
    position: absolute;
    z-index: -1;
    width: 100%;
    min-height: 100%;
    height: fit-content;
    bottom: 0;
    top: 5vh;
    background: url("/src/media/forest-background.jpg");
}

.classicModelContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2vh 0;
    align-items: center;
    box-sizing: border-box;
}

.classicModelContainer  img {
    max-width: 40%;
    margin-bottom: 3%;
}

.classicModelContainer .modelName {
    background-color: white;
}

.sizesTableContainer {
    display: flex;
    justify-content: center;
    width: 60%;
}

.sizesTable {
    display: flex;
    flex-direction: column;
    color: var(--white-button-text);
    background-color: white;
    border: 1px solid black;
    border-radius: 2vh;
    padding: 1vh;
    margin: 0 5vh;
    min-width: 33%;
}