.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.dialogWrapper{
    position: fixed;
    top:40%;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    background-color: white;
    border: 1px solid black;

    width: fit-content;
    height: fit-content;
}

.textarea {
    resize: none;
    height: 2vh;
}