.goBackButton{
    padding: 0 1rem;
    position: relative;
    align-self: flex-start;
    height: 5vh;
    width: fit-content;
    border: 1px solid black;
    border-radius: 25vh;



    box-shadow: 0 0.1rem black;
}
.goBackButton:hover{
    border: 1px solid var(--peltonen-red);
    color: var(--peltonen-red);
    cursor: pointer;
}