.wrapper{
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.buttonsContainer{
    align-self: center;
    width: 10vw;
}

.lengthButton{
    min-width: 80%;
    border-radius: 5vh;
}

.deleteButton{
    width: 2rem;
    height: 2rem;
    border-radius: 5rem;
    border: 1px solid var(--peltonen-red);
    background-color: var(--peltonen-red);
    color: var(--red-button-text);
}

.deleteButton:hover{
    color: black;
}