.wrapper {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
}

.createFormContainer {
    width: 35%;
    height: fit-content;
    overflow: scroll;
    padding: 1%;
    margin-top: 10vh;
    margin-left: 35%;
    background-color: white;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 85vh;
}

.closeButton {
    width: 2rem;
    height: 2rem;
    align-self: flex-end;
    border-radius: 5rem;
    border: 1px solid var(--peltonen-red);
    background-color: var(--peltonen-red);
    color: var(--red-button-text);
}
.closeButton:hover {
    background-color: var(--red-button-text);
    color: var(--peltonen-red)
}
