.wrapper {
    position: fixed;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;

    background-color: var(--peltonen-red);

    width: 100%;


    z-index: 2;
}

.wrapper button:hover {
    color: var(--peltonen-red);
    background-color: white;
    cursor: pointer;
}

.menuControls {
    padding: 1vh 0 0.5vh;

    background: var(--peltonen-red);

    display: flex;
    flex-flow: row;
    justify-content: center;
}

.menuControls img {
    max-width: 50%;
}

.navLinks {
    width: 90%;
    padding: 0 5rem;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.navLinks > {
    width: 100%;
}

.navButton {
    box-shadow: 0 0.15rem lightgray;
}

.navButton:hover{
    box-shadow: 0 0.15rem darkgrey;
}

@keyframes onOpen {
    0% {
        margin-top: -90vh;
    }
    100% {
        margin-top: 0;
    }
}

@media screen and (max-width: 1023px) {
    .wrapper {
        flex-flow: column nowrap;

    }

    .navLinks {
        flex-flow: column nowrap;
        height: 50vh;

        margin-bottom: 2vh;

        animation: onOpen ease;
        animation-duration: 0.75s;
        z-index: -1;
    }

    .wrapper button {
        height: 7vh;
        width: 50vw;
    }

    .menuControls{
        width: 100%;
        padding-bottom: 1vh;
    }

    .navLinks{
        padding: 0;
    }

    .menuControls img {
        margin: 0 3vw;
    }
}