.wrapper {
    display: flex;
    box-sizing: border-box;
    background-color: var(--peltonen-red);
    padding: 1vh 5%;
    justify-content: space-between;
    width: 100%;
    height: 5vh;
}
.wrapper button:hover {
    color: var(--peltonen-red);
    background-color: white;
    cursor: pointer;
}