.wrapper {
    position: fixed;
    display: flex;
    flex-flow: row nowrap;
    box-sizing: border-box;
    background-color: var(--peltonen-red);
    padding: 1vh 5%;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    z-index: 2;
    border-bottom: 1px solid lightgrey;
}

.wrapper button:hover {
    color: var(--peltonen-red);
    background-color: white;
    cursor: pointer;
}

.menuControls {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.menuControls img {
    max-width: 50%;
}

.navLinks {
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.navLinks > {
    width: 100%;
}

@media screen and (max-width: 1023px) {
    .wrapper {
        flex-flow: column nowrap;
    }

    .navLinks {
        padding: 2vh 0;
        flex-flow: column nowrap;
        height: 50vh;
    }

    .wrapper button {
        height: 8vh;
        width: 50vw;
    }

    .menuControls img {
        margin: 0 3vw;
    }
}