.wrapper {
    position: absolute;
    top: 5vh;
    bottom: 0;
    width: 100%;
    z-index: 1;
    background: transparent;
}

.allSkisContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-content: center;
}

.skiModel {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 33%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    text-decoration: none;
    padding-bottom: 3vh;
    box-sizing: border-box;
    animation-duration: 0.3s;
    animation-name: returnToNormalSize;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.skiModel h2 {
    color: var(--white-button-text);
    background-color: var(--background-color);
    max-width: fit-content;
    align-self: center;
    border-radius: 5vh;
    padding: 0 3vh;
}

.tooltip {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 35%;
    content: "";
    padding: 1vh;
    height: fit-content;
    width: 20vh;
    font-family: Georgia, sans-serif;
    background-color: rgba(155, 155, 155, 0.9);
    color: white;
    border-radius: 2vh;
    visibility: hidden;
}

.skiModel:hover {
    animation-duration: 0.3s;
    animation-name: onHover;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.skiModel:hover .tooltip {
    visibility: visible;
}

@keyframes onHover {
    from {
        width: 28%
    }
    to {
        width: 43%;
    }
}

@keyframes returnToNormalSize {
    from {
        width: 43%
    }
    to {
        width: 28%
    }
}

@media screen and (max-width: 1230px) {
    .allSkisContainer {
        align-items: center;
        flex-flow: column nowrap;
    }

    .skiModel {
        min-width: 100%;
    }

    .tooltip {
        top: 10vh;
        left: 15vw;
        height: fit-content;
        width: 75%;
        visibility: visible;
    }
}


