.rotatedImage {
    width: 90%;
    height: 100vw;
    z-index: -1;
    object-fit: contain;
}

@media screen and (min-width: 1024px) , (orientation: landscape){
    .rotatedImage{
        transform: rotate(-90deg);
    }
}