.wrapper {
    width: 100%;
    position: absolute;
}

.dashboardContainer {
    display: flex;
    flex-direction: column;
    padding: 1% 0;
}

.controlElements {
    display: flex;
    padding: 0 1%;
    justify-content: space-between;
}

.controlElements div {
    min-width: 15%;
}

.createNewButton {
    height: 4vh;
    border: 1px solid var(--peltonen-red);
    border-radius: 5vh;
    background-color: var(--peltonen-red);
    color: white;
}

.createNewButton:hover {
    background-color: white;
    color: var(--peltonen-red);
}

.filtersAndTableContainer {
    padding: 0 1%;
    display: flex;
    flex-direction: row;
}

.filtersElements {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 60%;
    height: 50vh;
    margin-top: 1%;
    justify-content: space-between;
}

.filtersElements button {
    height: 8vh;
}

.subCategory {
    width: 80%;
    align-self: flex-end;
}

.dashboardTable {
    height: 85vh;
    overflow: auto;
    flex: 6;
    margin: 1% 0 0 1%;
    border-radius: 1vh;
    display: flex;
    flex-direction: column;
    color: black;
}

.dashboardTable table {
    background-color: white;
}

.dashboardTable th, .dashboardContainer td {
    border: 1px solid black;
}

.idInTableRow {
    display: flex;
    justify-content: flex-start;
}

td {
    min-height: 7vh;
}

.modelNameCell {
    font-weight: bold;
}

.modelNameCell:hover {
    background-color: var(--peltonen-red);
    color: var(--white-button-text);
    cursor: pointer;
}

td button {
    height: 120%;
}


.skiImage {
    object-fit: contain;
    width: 15vw;
    height: 15vh;
}

button:hover {
    cursor: pointer;
    border: 1px solid var(--peltonen-red);
    color: var(--peltonen-red)
}

.updateUi {
    position: absolute;
    background-color: black;
    color: white;
}

.controlButton:disabled {
    color: black;
    background-color: grey;
    cursor: wait;
    border: 1px solid grey;
}


.weightCell {
    color: black;
    border: 1px solid black;
    margin-right: 0.5rem;

    &:hover {
        cursor: auto;
    }

    &.reserved {
        color: black;
        background-color: lightgrey;
        border: 1px solid grey;
        margin-right: 0.5rem;

        text-decoration-line: line-through;
        text-decoration-color: grey;

        &:hover {
            color: white;
            background-color: darkgray;

            border: 1px solid black;

            text-decoration: none;

            margin-right: 0.5rem;
        }
    }
}


.lengthCell {
    margin-bottom: 0.5rem;
}

.lengthCellText {
    color: red;
}

.weightsContainer {
}


.bold {
    font-weight: bold;
}

thead {
    background-color: white;
    position: sticky;
    top: 0.1rem;
    z-index: 1;
}