.manageWeightsUi {
    position: absolute;
    margin: -25% 65%;
    width: 50%;
    background-color: white;
    border: 1px solid black;
}

.changeWeightUi {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    padding-top: 2vh;
}

.closeButton {
    position: absolute;
    top: 1vh;
    right: 1vh;
    height: fit-content;
    width: 1.5vw;
    border-radius: 2vh;
}