.App {
  --peltonen-red: #ff3403;
  --button-border: #000000;
  --button-text: #fff;

  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-image: url("media/forest-background.jpg");
}

button {
  border: none;
  border-radius: 1vh;
  font-size: 2vh;
  padding: 0.1vh 3vh;
}

.Content {
  width: 100%;
  display: flex;
  justify-content: center;
}