.App {
    --peltonen-red: rgb(255, 41, 3);
    --red-button-text: #fff;
    --white-button-text: #000;
    --background-color: #eeeeee;

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: white;
    background-image: url("./media/snowjpg.jpg");
    min-height: 100vh;
    height: fit-content;
}

button {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 5rem;
    font-size: 1rem;
}

.Content {
    margin-top: 2.5rem;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

@media screen and (min-width: 1024px) {
    .App{
        background-image: url("./media/forest-background.jpg");
    }
}