.wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    top: 5vh;
}

.skatingContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2vh 0;
    align-items: center;
    border-radius: 5vh;
}

.wrapper img {
    width: 100%;
}


.buttonsContainer {
    margin: 5vh 0;
    display: flex;
    width: 60%;
    justify-content: space-evenly;
}

.buttonsContainer  button {
    height: 5vh;
    border-radius: 3vh;
    border: 1px solid var(--peltonen-red);
}

.buttonsContainer  button:hover {
    background-color: var(--peltonen-red);
    color: var(--red-button-text);
    cursor: pointer;
}

.active {
    background-color: var(--peltonen-red);
    color: var(--red-button-text);

}

.notActive {
    background-color: white;
    color: var(--peltonen-red);
    border-color: var(--peltonen-red);
}