.wrapper {
    wrap-option: wrap;
    width: 80%;
    margin: 1%;
    box-sizing: border-box;
}

.navLink {
    height: 20rem;
    text-decoration: none;
}

.skiModel {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    background-color: white;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 5rem;
    padding: 1%;
    box-sizing: border-box;
    height: 30%;
}

.skiModel:not(:last-of-type) {
    margin-bottom: 2%;
}

.imgContainer {
    width: 20rem;
    height: 20rem;
}

.skiImg {
    width: 20rem;
    height: 20rem;
    object-fit: contain;
    border: 1px solid lightgrey;
    border-radius: 5rem;
}

.nameAndDescBlock {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 80%;
    color: var(--white-button-text);
}

.skiName {
    width: fit-content;
    text-decoration: none;
}

.skiDesc {
    padding: 0 5%;
}

.navLink {
    margin-top: auto;
}

.goToButton {
    height: 95%;
    width: auto;
    text-decoration: none;
    color: var(--red-button-text);
    background-color: var(--peltonen-red);
    border: 1px solid var(--peltonen-red);
}

.goToButton:hover {
    cursor: pointer;
    color: var(--peltonen-red);
    background-color: var(--red-button-text);
}

@media screen and (max-width: 1023px) {
    .wrapper {
        min-height: 90vh;
    }

    .skiModel {
        flex-flow: column nowrap;
        border-radius: 3rem;
        min-height: 100%;
    }

    .goToButton {
        width: 100%;
        height: 5rem;
    }

    .navLink {
        width: 100%;
        height: auto;
    }
}

@media screen and (min-width: 1024px) {
    .wrapper {
        min-height: 115vh;
    }
}