.wrapper {
    width: 100%;
}

.skiPolesContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2vh 0;
    align-items: center;
    box-sizing: border-box;
}

.skiPolesContainer  img {
    max-width: 40%;
    margin-bottom: 3%;
}

.skiPolesContainer .modelName {
    background-color: white;
}

.lengthTableContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 60%;
}



.tableRow {
    background-color: var(--background-color);
    color: black;
    border: 1px solid var(--background-color);
    border-radius: 1vh;
    padding: 0.1vh 0.5vh;
    width: 28%;
    font-size: 3vh;
    margin: 0.5vh;
}

.tableRow:hover{
    background-color: var(--peltonen-red);
    border: var(--peltonen-red);
    color: var(--red-button-text);
    cursor: pointer;
}

.tableRow:disabled{
    background-color: black;
    color: white;
    border: 1px solid black;
    cursor: auto;
}